.add-administrator-home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding:10rem 2.6rem;
    background: #fff;
}
.add-administrator-home .navigator{
    background-color: aliceblue;
    height:4rem;
    width:100%;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    padding-left:2rem;
}
.add-administrator-home .navigator p{
    font-size:1.8rem;
}
.add-administrator-home .navigator p a{
    text-decoration: underline;
    font-family:'Times New Roman', Times, serif;
}
.add-administrator-home .heading-container{
    width:100%;
}
.add-administrator-home .main-heading{
    background-color: #0098a1;
    color:#fff;
    width:100%;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-size:3rem;
    padding:0rem 0.8rem;
    margin-top: 1.5rem;
}
.add-administrator-home .signup-form-container{
    width:100%;
    display: flex;
    justify-content: center;
}
.add-administrator-home .signup-form-container form{
    background-color:#fff;
    margin-top:1rem;
    padding:2.5rem;
    width:100%;
    border:.1rem solid #eee;
    border-radius: .8rem;
}
.add-administrator-home .signup-form-container form label{
    font-size: 2.5rem;
    padding:.3rem 0rem;
    display: block;
    color: #0098a1;
}
.add-administrator-home .signup-form-container form input,
.add-administrator-home .signup-form-container form select,
.add-administrator-home .signup-form-container .contact-field-container select{
    display: block;
    text-transform:none;
    font-size:1.8rem;
    width:100%;
    padding:.9rem .5rem;
    border-radius:.5rem;
    color:#333;
    background: #eee;
    border:none;
    outline: none;
    box-shadow: 0 .1rem .3rem rgba(0,0,0,.3) inset;
}
.add-administrator-home .signup-form-container .city-state-container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.add-administrator-home .signup-form-container .city-state-container div{
    width:49.5%;
}
.add-administrator-home .signup-form-container form input[type="submit"]{
    margin-top: 2rem;
    padding:.4rem;
    background: navy;
    font-size: 2rem;
    color: #fff;
}
.add-administrator-home .signup-form-container form input[type="submit"]:hover{
    cursor: pointer;
}
.add-administrator-home .signup-form-container form span{
    font-size: 2rem;
}
.add-administrator-home .signup-form-container form input[type="radio"]{
    box-shadow: none;
    display: inline-block;
    margin:0rem 3rem;
    width:3%;
}
.add-administrator-home .signup-form-container .image-div-container{
    display:flex;
    justify-content: center;
    width:100%;
}
.add-administrator-home .signup-form-container .image-div-container .profile-image-container{
    width:14%;
    height:17rem;
    display: flex;
    flex-direction: column;
    position:relative;
}
.add-administrator-home .signup-form-container .image-div-container .profile-image-container img{
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius: 50%;
}
.add-administrator-home .signup-form-container .image-div-container .profile-image-container .camera-icon{
    display:flex;
    position:absolute;
    bottom:.1rem;
    right:1.4rem;
    width:25%;
    height:25%;
    overflow: hidden;
    border-radius:50%;
    background: #0098a1;
    justify-content: center;
    align-items: center;
}
.add-administrator-home .signup-form-container .image-div-container .profile-image-container .camera-icon input[type="file"]{
    position: absolute;
    transform: scale(2);
    opacity: 0;
}
.fa-camera{
    display: block;
    color:#fff;
    font-size:2rem;
}

.add-administrator-home .signup-form-container .contact-field-container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.add-administrator-home .signup-form-container .contact-field-container select{
    width:14%;
    text-align: center;
}
.add-administrator-home .signup-form-container .contact-field-container input{
    width:84%;
}
.errormsg{
    display: block;
}