<!DOCTYPE html>
{% extends 'customer/index.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>MVB - Customer Signup Form</title>
    {% endblock title %}

    {% block CSS %}
        {{block.super}}
        <link rel="stylesheet" href="{% static 'css/customer/customerSignupForm.css' %}">
    {% endblock CSS%}
</head>
<body>
    {% block home %}
    <section class="home signup-home" id="home">
        <div class="signup-form-container">
            <form action="http://localhost:8000/customer/donewregistration/" method="post" name="myform" enctype="multipart/form-data"  onsubmit="return validateForm()">
                {% csrf_token %}
                <h3>MyVenueBook Signup Form</h3>
                <!--Customer Image Field-->
                <div class="image-div-container">
                    <div class="profile-image-container">
                        <img src="{% static 'image/No-Profile.png'%}" alt="Customer Profile Image" id="customerprofileimage">
                        <div class="camera-icon">
                            <input type="file" accept="image/*" name="customerprofileimage" id="file">
                            <i class="fa-solid fa-camera"></i>
                        </div>
                    </div>
                </div>
                
                <label for="customername">Name </label>
                <input type="text" id="customername" name="customername" placeholder="Enter your Name" required>
                <label class="errormsg"></label>
                
                <label for="customerdob">Date of Birth </label>
                <input type="date" id="customerdob" name="customerdob" required>

                <label for="customergender">Gender </label>
                <span>Male</span><input type="radio" id="customergender" name="customergender" value="Male" required>
                <span>Female</span><input type="radio" id="customergender" name="customergender" value="Female" required>
                <span>Other</span><input type="radio" id="customergender" name="customergender" value="Other" required>

                {% if email_error %}
                <label for="customeremail">Email </label>
                <input style="border:.1rem solid red;" type="text" id="customeremail" name="customeremail" placeholder="Enter a valid email ID" value="{{customer.customerEmail}}" required oninput="validateEmail()">
                <label class="errormsg"
                style="font-size:1.5rem; text-transform: none; color:red">{{email_error}}</label>
                {% else %}
                <label for="customeremail">Email </label>
                <input type="text" id="customeremail" name="customeremail" placeholder="Enter a valid email ID" required oninput="validateEmail()">
                <label class="errormsg"></label>
                {% endif %}
                
                
                {% if mobile_error %}
                <label for="customermobile">Contact No. </label>
                <div class="contact-field-container">
                    <select name="customermobilecountrycode">
                        <option value="+91">+91</option>
                    </select>
                    <input style="border:.1rem solid red;" type="text" id="customermobilenumber" name="customermobilenumber" placeholder="Enter your 10 digit mobile number" value="{{customer.customerMobileNumber}}" required >
                </div>
                <label class="errormsg"
                style="font-size:1.5rem; text-transform: none; color:red">{{mobile_error}}</label>
                {% else %}
                <label for="customermobile">Contact No. </label>
                <div class="contact-field-container">
                    <select name="customermobilecountrycode">
                        <option value="+91">+91</option>
                    </select>
                    <input type="text" id="customermobilenumber" name="customermobilenumber" placeholder="Enter your 10 digit mobile number" required >
                </div>
                <label class="errormsg"></label>
                {% endif %}


                <label for="customeraddress">Address </label>
                <input type="text" id="customeraddress" name="customeraddress" placeholder="Enter your address" required>
                <label class="errormsg"></label>
                

                <div class="city-state-container">
                    <div>
                        <label for="customercity">City </label>
                        <input type="text" id="customercity" name="customercity" placeholder="Enter name of your city" required>
                        <label class="errormsg"></label>
                    </div>
                    <div>
                        <label for="customerstate">State </label>
                        <input type="text" id="customerstate" name="customerstate" placeholder="Enter name of your state" required>
                        <label class="errormsg"></label>
                    </div>    
                </div>
                
                <label for="customerpincode">Pincode </label>
                <input type="text" id="customerpincode" name="customerpincode" placeholder="Enter your area pincode" required>
                <label class="errormsg"></label>
                
                {% if username_error %}
                <label for="customerusername">Username </label>
                <input style="border:.1rem solid red;" type="text" id="customerusername" name="customerusername" placeholder="Choose a username" value="{{customer.customerUsername}}" required oninput="validateUsername()">
                <label class="errormsg"
                style="font-size:1.5rem; text-transform: none; color:red">{{username_error}}</label>
                {% else %}
                <label for="customerusername">Username </label>
                <input type="text" id="customerusername" name="customerusername" placeholder="Choose a username" required oninput="validateUsername()">
                <label class="errormsg"></label>
                {% endif %}

                <label for="confirmusername">Confirm Username </label>
                <input type="text" id="confirmusername" name="confirmusername" placeholder="Enter username again" required>
                <label class="errormsg"></label>
                              
                <label for="customerpassword">Password </label>
                <input type="password" id="customerpassword" name="customerpassword" placeholder="Choose a password" required>
                
                <label for="confirmpassword">Confirm Password </label>
                <input type="password" id="confirmpassword" name="confirmpassword" placeholder="Enter password again" required>
                <label class="errormsg"></label>
                
                <input type="submit" value="Sign Up">
                <input type="reset" value="Reset Form">
            </form>
        </div>
    </section>
    {% endblock home %}
    <!--Custom JS file link-->
    {% block JS %}
        {{block.super}}
        <script src="{% static 'javascript/customer/customerSignupForm.js' %}"></script>
    {% endblock JS %}
</body>
</html>