.myprofile-home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding:10rem 2.6rem;
    background: #fff;
}
.myprofile-home .navigator{
    background-color: aliceblue;
    height:4rem;
    width:100%;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    padding-left:2rem;
}
.myprofile-home .navigator p{
    font-size:1.8rem;
}
.myprofile-home .navigator p a{
    text-decoration: underline;
    font-family:'Times New Roman', Times, serif;
}
.myprofile-home .heading-container{
    width:100%;
}
.myprofile-home .main-heading{
    background-color: #0098a1;
    color:#fff;
    width:100%;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-size:3rem;
    padding:0rem 0.8rem;
    margin-top: 1.5rem;
}
.signup-form-container{
    width:100%;
    display: flex;
    justify-content: center;
    margin-top:2rem;
}
.signup-form-container form{
    background-color:#fff;
    border: .1rem solid #eee;
    padding:2.5rem;
    width:50%;
    border-radius: .5rem;
}
.signup-form-container form h3{
    font-size: 3rem;
    text-align: center;
    color:#333;
}
.signup-form-container .image-div-container{
    display:flex;
    justify-content: center;
    padding:0rem 0rem 1.5rem 0rem;
    width:100%;
    height:18rem;
}
.signup-form-container .image-div-container .profile-image-container{
    width:28%;
    height:100%;
    display: flex;
    flex-direction: column;
    position:relative;
}
.signup-form-container .image-div-container .profile-image-container img{
    width:100%;
    height:100%;
    object-fit: cover;
    border-radius: 50%;
}
.signup-form-container .image-div-container .profile-image-container .camera-icon{
    display:flex;
    position:absolute;
    bottom:.2rem;
    right:2rem;
    width:25%;
    height:25%;
    overflow: hidden;
    border-radius:50%;
    background: #0098a1;
    justify-content: center;
    align-items: center;
}
.signup-form-container .image-div-container .profile-image-container .camera-icon input[type="file"]{
    position: absolute;
    transform: scale(2);
    opacity: 0;
}
.fa-camera{
    display: block;
    color:#fff;
    font-size:3rem;
}
.signup-form-container form label{
    font-size: 2.5rem;
    margin: .2rem 0;
    display:block;
    color: #0098a1;
}
.signup-form-container form input,
.signup-form-container form select{
    display: block;
    text-transform:none;
    font-size:1.8rem;
    width:100%;
    padding:.5rem;
    border-radius: .5rem;
    color:#333;
    background: #eee;
    border:none;
    outline: none;
    box-shadow: 0 .1rem .3rem rgba(0,0,0,.3) inset;
}
.signup-form-container form input[type="submit"]{
    margin-top: 2rem;
    padding:.2rem;
    background: navy;
    font-size: 2rem;
    color: #fff;
}
.signup-form-container form input[type="submit"]:hover{
    cursor: pointer;
}
.signup-form-container form span{
    font-size: 2rem;
    margin: 0 1rem 2rem 1rem;
    position:relative;
    top:.1rem;
}
.signup-form-container form input[type="radio"]{
    box-shadow: none;
    display: inline-block;
    width:5%;
}
.dob-field-container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
    justify-content: space-between;
}
.dob-field-container #previousdob{
    display:block;
    width:23%;
    text-align: center;
}
.dob-field-container #customerdob{
    display:block;
    width:76%;
    text-align: center;
}
.signup-form-container .contact-field-container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.signup-form-container .contact-field-container select{
    width:15%;
    text-align: center;
}
.signup-form-container .contact-field-container input{
    width:84%;
}
.deletebuttoncontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width:100%;
    margin-top: 2rem;
}
.deletebuttoncontainer #deleteaccountbutton{
    padding:1rem;
    background: red;
    color:#fff;
    border:none;
}
.popup{
    position:absolute;
    top:-150%;
    opacity: 0;
    width:35%;
    padding:2rem;
    background: #fff;
    border-radius:2rem;
    box-shadow: .2rem .1rem .1rem .2rem rgba(0,0,0,0.15);
    transition: top 0ms ease-in-out 200ms, opacity 200ms ease-in-out 0ms;
}
.popup.active{
    top: 75%;
    opacity:1;
    transition: top 0ms ease-in-out 0ms, opacity 200ms ease-in-out 0ms;
}
.close-btn{
    position: absolute;
    top:1rem;
    right:1rem;
    width:1.5rem;
    height:1.5rem;
    border-radius: 50%;
    color:#fff;
    background-color:black;
    text-align: center;
    line-height: 1.4rem;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
}
.form h1{
    padding:.8rem 0rem;
    font-size:2.5rem;
    text-transform: none;
    color:red;
}
.form p{
    padding:.8rem 0rem;
    font-size:1.5rem;
    text-align: justify;
    text-transform: none;
    color:#333;
    font-weight: none;
}
.form .form-element{
    padding:.5rem 0rem;
}
.form .form-element label{
    display: inline-block;
    font-size:1.5rem;
    text-transform: none;
    padding:.5rem 0rem;
    font-weight: bold;
}
.form .form-element input{
    width:100%;
    padding:.8rem;
    border:none;
    outline:none;
    border-radius: 1.5rem;
    background-color: #eee;
    font-size:1.6rem;
}
.form .form-element button{
    padding:.8rem 1.2rem;
    border:.2rem solid red;
    border-radius: 1.5rem;
    color:red;
    background-color: #fff;
    font-weight: bold;
}